@inherits DialogBase

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll">
            <MudText Style="white-space: pre-wrap;">
                <MudDivider/>
                <MudTable Hover="true" Elevation="4" Items="@markerClickListOfBooks" FixedHeader=true>
                    <HeaderContent>
                        <MudTh>Cover</MudTh>
                        <MudTh>Title</MudTh>
                        <MudTh>Author</MudTh>  
                        <MudTh>Category</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Cover"><a href=""><img src="@context.smallThumbnail" /></a></MudTd>
                        <MudTd DataLabel="Title">@context.title</MudTd>
                        <MudTd DataLabel="Author">@context.author</MudTd>
                        <MudTd DataLabel="Category">@context.category</MudTd>
                    </RowTemplate>                                      
                </MudTable>                               
            </MudText>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="CloseDialog">Close</MudButton>
    </DialogActions>
</MudDialog>
